#include ".colors/dotshare"

Xft.dpi:		96
Xft.autohint:		0
Xft.antialias:		1
Xft.hinting:		true
Xft.hintstyle:		hintslight
Xft.rgba:		rgb
Xft.lcdfilter:		lcddefault

urxvt*cursorUnderline:	1
urxvt*cursorBlink:	true
urxvt*scrollBar:	false
urxvt*depth:		32
urxvt*internalBorder:	5
urxvt*dynamicColors:	on
urxvt.urgentOnBell:	true
urxvt*letterspace:	-1
urxvt*url-launcher:	/usr/bin/firefox

Xcursor.size:		16
