#include ".colors/dotshare"

Xft.dpi:		109
Xft.autohint:		0
Xft.antialias:		1
Xft.hinting:		true
Xft.hintstyle:		hintslight
Xft.rgba:		rgb
Xft.lcdfilter:		lcddefault

urxvt*cursorUnderline:	1
urxvt*cursorBlink:	true
urxvt*scrollBar:	false
urxvt*depth:		32
urxvt*internalBorder:	10
urxvt*dynamicColors:	on
urxvt.urgentOnBell:	true
urxvt*letterspace:	-1
urxvt*url-launcher:	/usr/bin/firefox

! Tamzen
!urxvt*font:		xft:MiscTamzen:size=11:style=Regular
!urxvt*boldFont:		xft:MiscTamzen:size=11:style=Bold
!urxvt*italicFont:	xft:MiscTamzen:size=11:style=Regular
!urxvt*bolditalicFont:	xft:MiscTamzen:size=11:style=Bold

! Tamzen Powerline-Patched
urxvt*font:		xft:MiscTamzenForPowerline:size=11:style=Regular
urxvt*boldFont:		xft:MiscTamzenForPowerline:size=11:style=Bold
urxvt*italicFont:	xft:MiscTamzenForPowerline:size=11:style=Regular
urxvt*bolditalicFont:	xft:MiscTamzenForPowerline:size=11:style=Bold

Xcursor.size:		16
