!░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
!░█░█░█▀▄░█▀▀░█▀▀░█▀█░█░█░█▀▄░█▀▀░█▀▀░█▀▀░
!░▄▀▄░█▀▄░█▀▀░▀▀█░█░█░█░█░█▀▄░█░░░█▀▀░▀▀█░
!░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░
!░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

#include ".colors/bluetype"

! ------------------------------------------------------------------------------
! Settings
! ------------------------------------------------------------------------------
Xft.dpi:                96
Xft.autohint:           0
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintslight
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault
Xcursor.size:           16

urxvt*cursorUnderline:  1
urxvt*cursorBlink:      1
urxvt*scrollBar:        false
urxvt*depth:            32
urxvt*internalBorder:   5 
urxvt*dynamicColors:    on
urxvt.urgentOnBell:     true
urxvt*letterspace:      -1
urxvt*url-launcher:     /usr/bin/firefox

! ------------------------------------------------------------------------------
! Fonts
! ------------------------------------------------------------------------------
! Tamzen
!urxvt*font:             xft:MiscTamzen:size=11:style=Regular
!urxvt*boldFont:         xft:MiscTamzen:size=11:style=Bold
!urxvt*italicFont:       xft:MiscTamzen:size=11:style=Regular
!urxvt*bolditalicFont:   xft:MiscTamzen:size=11:style=Bold

! Tamzen Powerline-Patched
!urxvt*font:             xft:MiscTamzenForPowerline:size=11:style=Regular
!urxvt*boldFont:         xft:MiscTamzenForPowerline:size=11:style=Bold
!urxvt*italicFont:       xft:MiscTamzenForPowerline:size=11:style=Regular
!urxvt*bolditalicFont:   xft:MiscTamzenForPowerline:size=11:style=Bold
!urxvt*font:            -misc-tamzenforpowerline-medium-*-*-*-14-*-*-*-*-*-*-*
!urxvt*boldFont:        -misc-tamzenforpowerline-bold-*-*-*-14-*-*-*-*-*-*-*
!urxvt*italicFont:      -misc-tamzenforpowerline-medium-*-*-*-14-*-*-*-*-*-*-*
!urxvt*bolditalicFont:  -misc-tamzenforpowerline-bold-*-*-*-14-*-*-*-*-*-*-*

! Lemon
!urxvt*font:             -benis-lemon-*-*-*-*-*-*-*-75-*-*-*-*
!urxvt*boldFont:         -benis-lemon-*-*-*-*-*-*-*-75-*-*-*-*

! Gohu
!urxvt*font: -gohu-gohufont-medium-*-*-*-14-*-*-*-*-*-iso8859-*

! tewi
urxvt*font:             -lucy-tewi-medium-r-normal--11-90-75-75-p-58-*-*
urxvt*boldFont:         -lucy-tewi-bold-r-normal--11-90-75-75-p-58-*-*
! ------------------------------------------------------------------------------
! Colors
! ------------------------------------------------------------------------------
*background:   bg
*foreground:   fg

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      bred
*color2:      grn
*color10:     bgrn
*color3:      ylw
*color11:     bylw
*color4:      blu
*color12:     bblu
*color5:      mag
*color13:     bmag
*color6:      cyn
*color14:     bcyn
*color7:      wht
*color15:     bwht

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: bg, bblk, red
rofi.color-normal: bg, wht, blk, red, blk
rofi.color-active: bg, wht, blk, red, blk
rofi.color-urgent: bg, bred, blk, bred, wht
rofi.font:         Misc Tamzen 12
rofi.bw:           5
rofi.sidebar-mode: false
